<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/main.css" type="text/css" rel="stylesheet" />
    <title>Real Promo</title>
</head>
<body>
    @RenderBody()

    <script src="~/lib/signalr/signalr.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</body>
</html>
